
.page__index{
  width:100%;
  height:100vh;
  overflow:hidden;



  &__cover,
  &__design,
  &__homes,
  &__interiors,
  &__public-art,
  &__brentwood{
    width:100%;
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    padding:$header-height 5vw;
    display: flex;
    flex-wrap:wrap;
    background-color:white;
    z-index:0;
    opacity:0;

    &[data-active="true"] {
      z-index:1;
    }

    &:before{
      content: '';
      position: absolute;
      top:0;
      left:0;
      width:50%;
      height:100%;
      background:linear-gradient(90deg, rgba(black,0.2) 0%, rgba(black,0) 100% );
      z-index:0;
    }

    .bg-animation {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:-1;
    }

    .bg-image{
      z-index:-1;
    }

    article{
      color:white;
      flex:0 0 30%;
      z-index:2;

      &.text--blue{
        color:$brand-indigo;

        .btn__more{
          i{
            background:$brand-indigo;
            color:white;
          }
          span{
            color:$brand-indigo;
          }
        }
      }

      .panel-name{
        display: block;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin:0 0 1.5rem 0;
        font-size:0.9rem;
        line-height:2em;
        font-family:$font-sans-serif;
        font-weight:bold;
      }

      .panel-tagline{
        margin:0 0 5rem 0;
      }

      .panel-description {
        font-size:1.5rem;
        margin:0 0 3rem 0;
      }

      .btn__more{
        display: flex;
        align-items: center;
        font-family: $font-sans-serif;

        a{
          display: flex;
          align-items: center;
          text-decoration: none;
        }

        i{
          background:white;
          color:$brand-blue-dark;
          border-radius:100%;
          width:30px;
          height:30px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:1.5rem;
          line-height:1em;
          margin:0 1rem 0 0;
        }

        span{
          display: block;
          text-transform: uppercase;
          font-weight:bold;
          font-size:0.9rem;
          color:white;
        }
      }
    }

    figure{
      margin:0 0 0 auto;
      position: relative;
      flex:0 0 60%;
      z-index:2;

      .blind {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:1;
        background:white;
      }

      .bg-image{
        z-index:0;
      }
    }
  }








  &__cover {
    padding-top:$header-height;
    padding-bottom:2.5vw;

    &:before{
      width:100%;
      height:50%;
      background:linear-gradient( rgba(black,0.2) 0%, rgba(black,0) 100% );
    }

    .left-column{
      display: flex;
      flex-wrap:wrap;
      flex-direction: column;
      z-index:2;
    }

    nav{
      button{
        display: block;
        text-transform: uppercase;
        letter-spacing: 2px;
        color:$brand-blue-dark;
        margin:0 0 0.75rem 0;
        font-size:0.9rem;
        line-height:2em;

        &:last-child{
          margin:0;
        }
      }
    }

    .btn__enquire {
      display: block;
      background:rgba(white,0.1);
      backdrop-filter:blur(15px);
      color:white;
      height:$button-height;
      padding:0 2rem 0 2rem;
      border-left:solid 2px white;
      line-height:1em;
      margin:auto 0 0 0;

      span{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size:0.9rem;
        line-height:1em;
      }

      svg{
        margin:0 0 0 3rem;
        width:auto;
        height:auto;
        display: inline-block;
      }
    }

    .floorplans{
      background:rgba(white,0.1);
      backdrop-filter:blur(15px);
      color:white;
      padding:1.5rem 0 0 0;
      margin:0 0 0 auto;
      font-family:$font-sans-serif;
      align-self:flex-start;
      z-index:2;

      .section-title{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size:0.9rem;
        line-height:1em;
        margin:0 0 1.5rem 0;
        padding:0 2rem;
        display:block;
      }

      figure{
        margin:0 0 1.5rem 0;
      }

      .stat{
        flex:0 0 100%;
        display: flex;
        align-items: flex-end;
        margin:0 2rem 2rem 2rem;

        .left{
          flex:1;
        }

        .right{
          margin:0 0 0 2rem;
        }

        .title{
          display: block;
          font-size:1.25rem;
          line-height:1em;
          margin:0 0 1rem 0;
        }

        .progress{
          width:100%;
          border-bottom:solid 1px white;

          span{
            width:50%;
            height:2px;
            background:white;
            display: block;
          }
        }

        .number{
          display: block;
          font-family:$font-serif;
          font-size:2.5rem;
          line-height:1em;
        }
      }
    }
  }








  &__design{
    background:white;

    &:before{
      display: none;
    }
  }








  &__homes{
    background:$color-grey-400;
  }








  &__interiors{

  }








  &__public-art{
    background:$brand-blue-dark;

    figure{
      .blind{
        background:$brand-blue-dark;
      }
    }
  }








  &__brentwood {

  }







}
