
.page__index{




  &__cover{
    min-height:100vh;
    position: relative;
    color:white;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding:10rem 0 5rem 0;

    .bg-image{
      background-image:url('/img/index/index-cover-bg.jpg');
      z-index:-1;
    }

    header{
      flex:0 0 100%;
    }
    h1{
      text-align:center;
      margin:0 0 0.75rem 0;
    }
    h2{
      text-align:center;
      font-family:$font-sans-serif;
      text-transform: uppercase;
      font-weight:100;
      font-size:1.2rem;
      line-height:1.5em;
      letter-spacing: 3px;
      color:$brand-dusk;
      margin:0 0 4rem 0;
    }
  }






  &__gallery{
    color:white;
    padding:10rem 0;
    width:100%;
    overflow:hidden;

    .masthead{
      display: flex;
      margin-bottom:10rem;

      h2{
        flex:0 0 100%;

        @media #{$screen-sm-min} {
          max-width:400px;
        }
      }
      aside{
        flex:0 0 100%;
        margin:0 0 0 auto;

        @media #{$screen-sm-min} {
          max-width:600px;
        }
      }
    }

    .swiper-container{
      width:100%;
      padding-bottom:10rem;

      .swiper-pagination{
        display: flex;
        margin:0 auto;
        position: absolute;
        bottom:5rem;
        left:50%;
        transform: translate3d(-50%, 0, 0);
        width:50%;
        background:rgba($brand-dusk,0.2);

        span{
          flex:1;
          height:3px;
          background:white;
          transform-origin: top left;
        }
      }

      .swiper-wrapper{
        display: flex;
      }

      .swiper-slide{
        flex:0 0 45%;
        margin:0 2rem 0 0;
      }
    }
  }







  &__register{
    color:white;
    padding:0 0 10rem 0;
    color:white;

    h2{
      text-align: center;
      margin:0 0 4rem 0;
    }

    label{
      color:white;
    }

    .btn__register{
      height:70px;
      display: inline-block;
      background:white;
      color:$brand-blue-dark;
      padding:0 5rem;
      font-family: $font-serif;
      font-size:1.75rem;
      line-height:1em;
      margin:2rem auto 4rem auto;
    }

    .disclaimer{
      margin:0;

      small{
        color:$brand-dusk;
        font-family: $font-sans-serif;
      }
    }
  }








}
