
.page__index{
  width:100%;
  height:100vh;
  overflow:hidden;


  &__global-actions {
    position: fixed;
    bottom:0;
    left:0;
    z-index:3;
    display: flex;
    background:rgba(white,0.1);
    backdrop-filter:blur(15px);
    height:$button-height;
    width:100%;

    @media #{$screen-sm-min} {
      bottom:2.5rem;
      left:3rem;
      width:calc( 200px + #{$button-height} );
    }

    .btn__enquire {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color:white;
      height:100%;
      padding:0 1rem 0 1rem;
      line-height:1em;
      margin:auto 0 0 0;
      width:calc( 100% - #{$button-height} );
      transition:all 1s ease;

      &[data-theme="blue"]{
        background:rgba($brand-blue-dark,0.7);
      }

      span{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size:0.9rem;
        line-height:1em;
        display: block;
      }

      svg{
        margin:0 0 0 3rem;
        width:auto;
        height:auto;
        display: block;
      }
    }

    .btn__back-to-top{
      width:$button-height;
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition:all 1s ease;
      border-left:solid 1px rgba(white, 0.2);

      &[data-theme="blue"]{
        border-color:rgba($brand-indigo, 0.3);
        background:rgba($brand-blue-dark,0.7);
      }

      svg{
        transform: translateY(-1px) rotate(180deg);
        width:50%;
        height:auto;
        display: block;
        margin:0;
      }
    }
  }










  &__cover,
  &__design,
  &__homes,
  &__interiors,
  &__public-art,
  &__brentwood{
    width:100%;
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    padding:5rem 1rem 11rem 1rem;
    display: flex;
    flex-wrap:wrap;
    background-color:white;
    z-index:0;
    opacity:0;
    overflow:hidden;

    @media #{$screen-sm-min} {
      padding:5rem 3rem 8rem 3rem;
    }

    @media #{$screen-md-min} {
      padding-top:2.25rem;
    }

    &[data-active="true"] {
      z-index:1;
    }

    &[data-panel-trigger="true"]{
      @media #{$screen-md-min} {
        cursor:url('/svg/cursor-more_Americana.svg') 37.5 37.5, pointer;
      }

      article{
        align-self: flex-end;

        @media #{$screen-sm-min} {
          align-self: auto;
        }

        .panel-description{
          align-self: flex-start;

          @media #{$screen-sm-min} {
            align-self: flex-end;
          }
        }
      }
    }

    &:before{
      content: '';
      position: absolute;
      top:0;
      left:0;
      width:50%;
      height:100%;
      background:linear-gradient(90deg, rgba(black,0.2) 0%, rgba(black,0) 100% );
      z-index:0;
    }

    .bg-animation {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:-1;
    }

    .bg-image{
      z-index:-1;
    }

    article{
      color:white;
      flex:0 0 100%;
      z-index:2;
      display: flex;
      flex-wrap:wrap;
      order:2;

      @media #{$screen-sm-min} {
        order:1;
        flex:0 0 40%;
      }

      @media #{$screen-md-min} {
        flex:0 0 30%;
      }

      &.text--blue{
        color:$brand-indigo;

        .btn__more{
          i{
            background:$brand-indigo;
            color:white;
          }
          span{
            color:$brand-indigo;
          }
        }
      }

      .panel-name{
        display: block;
        letter-spacing: 1px;
        margin:0 0 1.5rem 0;
        line-height:2em;
        flex:0 0 100%;
        align-self:flex-start;
        font-family:$font-serif;
        font-size:1.1rem;

        span{
          text-transform: uppercase;
          font-family:$font-sans-serif;
          font-weight:100;
          font-size:0.8rem;
          letter-spacing: 2px;
        }
      }

      .panel-description {
        font-size:1.1rem;
        line-height:1.5em;
        margin:0;
        align-self: flex-end;
        max-width:300px;
      }
    }

    figure{
      margin:0 0 0 auto;
      position: relative;
      flex:0 0 50%;
      z-index:2;
      align-self:center;

      .blind {
        position: absolute;
        top:-5%;
        left:-5%;
        width:110%;
        height:110%;
        z-index:1;
        background:white;
      }

      .bg-image{
        z-index:0;
      }
    }

    .image-trigger{
      order:1;
      transition: all .3s ease;
      flex:0 0 100%;
      height:35vh;

      @media #{$screen-sm-min} {
        order:2;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate3d(-15%,-50%,0);
        width:50%;
        height:50%;
      }

      @media #{$screen-md-min} {
        transform: translate3d(-15%,-50%,0);
        width:40%;
        height:50%;
      }

      &:hover{
        @media #{$screen-sm-min} {
          height:60%;
        }

        .caption{
          @media #{$screen-sm-min} {
            opacity:1;
          }
        }
      }

      .caption {
        position: absolute;
        bottom:0;
        left:0;
        display: block;
        transform: translateY(125%);
        opacity:0;
        transition: all .3s ease;
      }
    }
  }








  &__cover {
    padding-top:$header-height;
    padding-bottom:$button-height;

    &:before{
      width:100%;
      height:50%;
      background:linear-gradient( rgba(black,0.2) 0%, rgba(black,0) 100% );
    }

    .bg-animation{
      video{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate3d(-50%,-50%,0);

        @media (min-aspect-ratio: 16/9) {
          width:102%;
          height:auto;
        }

        @media (max-aspect-ratio: 16/9) {
          width:auto;
          height:102%;
        }
      }
    }

    .left-column{
      display: flex;
      flex-wrap:wrap;
      z-index:2;
      flex:0 0 100%;

      @media #{$screen-md-min} {
        flex:0 0 auto;
      }

      h1{
        color:white;
        line-height:1.15em;
        font-size:3rem;
        align-self:center;
        flex:0 0 100%;
        margin:-5rem 0 0 0;

        @media #{$screen-sm-min} {
          margin:0;
          font-size:4rem;
        }
      }
    }

    .floorplans{
      background:rgba(white,0.1);
      backdrop-filter:blur(15px);
      color:white;
      padding:1.5rem 0 0 0;
      margin:0 0 10rem auto;
      font-family:$font-sans-serif;
      align-self:center;
      z-index:2;
      flex:0 0 60%;
      max-width:350px;
      display: none;

      @media #{$screen-sm-min} {
        display: block;
        margin-bottom:0;
        flex:0 0 50%;
      }

      @media #{$screen-md-min} {
        flex:0 0 30%;
      }

      .section-title{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size:0.9rem;
        line-height:1.5em;
        margin:0 0 1.5rem 0;
        padding:0 2rem;
        display:block;
      }

      figure{
        margin:0 0 1rem 0;

        @media #{$screen-sm-min} {
          margin-bottom:1.5rem;
        }

        img{
          width:100%;
          height:auto;
          display: block;
        }
      }

      .description{
        font-family: $font-serif;
        padding:0 1rem;
        line-height:1.3rem;
        font-size:0.8rem;
        margin-bottom:1rem;

        @media #{$screen-sm-min} {
          margin-bottom:2rem;
          padding:0 2rem;
          font-size:1rem;
          line-height:$line-height-base;
        }
      }

      .stat{
        flex:0 0 100%;
        display: flex;
        align-items: flex-end;
        margin:0 2rem 2rem 2rem;

        .left{
          flex:1;
        }

        .right{
          margin:0 0 0 2rem;
        }

        .title{
          display: block;
          font-size:1.25rem;
          line-height:1em;
          margin:0 0 1rem 0;
        }

        .progress{
          width:100%;
          border-bottom:solid 1px white;

          span{
            width:50%;
            height:2px;
            background:white;
            display: block;
          }
        }

        .number{
          display: block;
          font-family:$font-serif;
          font-size:2.5rem;
          line-height:1em;
        }
      }
    }
  }








  &__design{
    background:white;

    &:before{
      display: none;
    }
  }








  &__homes{
    background:$color-grey-400;
  }








  &__interiors{

  }








  &__public-art{
    background:$brand-blue-dark;

    figure{
      .blind{
        background:$brand-blue-dark;
      }
      .caption{
        color:white;
      }
    }
  }








  &__brentwood {

  }







}
