
.page__index{
  padding-top:450vh;
  background:$brand-blue-dark;




  &__intro{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:$brand-blue-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:200;
    transition:opacity 1s ease;

    &[data-visible="false"] {
      display: none;
    }
    &[data-faded="true"] {
      opacity:0;
    }

    .bm-container{
      width:100vw;
      height:100vh;

      @media #{$screen-md-min} {
        width:50vw;
        height:50vh;
      }
    }
  }









  &__cover{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    color:white;
    z-index:0;

    .background{
      background-image:url('/img/index/index-cover-bg.jpg');
      z-index:-1;
      height:100vh;
      position: fixed;
    }

    header{
      margin:5rem 0 0 0;

      @media #{$screen-sm-min} {
        margin-top:10rem;
      }
    }
    h1{
      text-align:center;
      margin:0 auto 0.75rem auto;
      max-width:350px;

      @media #{$screen-sm-min} {
        max-width:none;
      }
    }
    h2{
      text-align:center;
      font-family:$font-sans-serif;
      text-transform: uppercase;
      font-weight:100;
      font-size:1rem;
      line-height:1.5em;
      letter-spacing: 3px;
      color:$brand-dusk;
      margin:0 0 4rem 0;

      @media #{$screen-sm-min} {
        font-size:1.2rem;
      }
    }

    .motion-container{
      position: absolute;
      bottom:0;
      left:50%;
      width:80vw;
      height:50vh;
      transform: translate3d(-50%,-10vh,0);
      overflow:hidden;

      @media #{$screen-sm-min} {
        width:30vw;
      }

      video{
        position: absolute;
        top:50%;
        left:50%;
        width:auto;
        height:100%;
        transform: translate3d(-50%,-50%,0);
      }

      .bg-image{
        opacity:0;
        z-index:0;
        transition:opacity .4s ease;
        background-position: bottom center;

        &[data-active="true"]{
          opacity:1;
          z-index:1;
        }
      }
    }
  }






  &__gallery{
    color:white;
    padding:5rem 0 0 0;
    width:100%;
    overflow:hidden;
    z-index:1;
    position: relative;

    @media #{$screen-sm-min} {
      padding-top:10rem;
    }

    .swiper-container{
      width:100%;
      padding-bottom:5rem;

      @media #{$screen-sm-min} {
        padding-bottom:10rem;
      }

      .swiper-pagination{
        display: flex;
        margin:0 auto;
        position: absolute;
        bottom:2.5rem;
        left:50%;
        transform: translate3d(-50%, 0, 0);
        width:50%;
        background:rgba($brand-dusk,0.2);

        @media #{$screen-sm-min} {
          bottom:5rem;
        }

        span{
          flex:1;
          height:3px;
          background:white;
          transform-origin: top left;
        }
      }

      .swiper-wrapper{
        display: flex;
      }

      .swiper-slide{
        flex:0 0 45%;
        margin:0 2rem 0 0;
      }
    }
  }







  .global__register{
    color:white;
    background:$brand-blue-dark;
    position: relative;
    z-index:1;

    h2{
      text-align: center;
      margin:0 0 4rem 0;
    }

    label{
      color:white;
    }

    .btn__register{
      height:70px;
      display: inline-block;
      background:white;
      color:$brand-blue-dark;
      padding:0 5rem;
      font-family: $font-serif;
      font-size:1.75rem;
      line-height:1em;
      margin:2rem auto 4rem auto;
    }

    .disclaimer{
      margin:0;

      small{
        color:$brand-dusk;
        font-family: $font-sans-serif;
      }
    }
  }








}
