.btn{
	text-decoration: none;
	outline:0;
	user-select: none;
	cursor:pointer;
	color:$color-body;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size:0.7rem;
	line-height:1em;
	display: inline-block;
	height:$button-height;
	text-align:center;
	font-family: $font-sans-serif;

	&--line-hover{
		position: relative;

		&:hover{
			&:after{
				height:50%;
			}
		}

		&:after{
			content:'';
			position: absolute;
			bottom:0;
			left:-2%;
			width:105%;
			height:0;
			background:rgba($brand-dusk,0.3);
			display: block;
			transition:height .5s cubic-bezier(.02,.66,.24,.91);
			transform: translate3d(0,0,0);
		}
	}

	&--text{
		font-family:$font-serif;
		text-transform: none;
		font-size:1.25rem;
		line-height:1.5em;
		height:auto;

		@media #{$screen-sm-min} {
			font-size:1.75rem;
		}

		&.btn--white{
			color:white;
		}
	}

	&--outline,
	&--solid{
		padding:0 4rem;
		height:$button-height;
		line-height:calc(#{$button-height} - 2px);
	}

	&--outline{
		border:solid 2px $color-body;
		color:$color-body;
		background:transparent;
	}

	&--solid{
		background:$color-body;
		color:white;

		&.btn--dusk{
			background:$brand-dusk;
			color:white;
		}
	}

}
