
.global__footer{
  position: relative;
  z-index: 2;
  transform: translateZ(0);
  background:$brand-blue-dark;

  .wrap--flex{
    display: flex;
    flex-wrap:wrap;
    padding:2rem 2rem 2rem 2rem;

    @media #{$screen-sm-min} {
      padding:4rem;
    }
  }

  &__left{
    flex:0 0 100%;
    margin-bottom:2rem;
    line-height:1em;

    @media #{$screen-md-min} {
      margin:0;
      flex:0 0 30%;
    }
  }

  &__right{
    flex:0 0 100%;
    max-width:$max-width-narrow;

    @media #{$screen-md-min} {
      flex:0 0 60%;
      margin:0 0 0 auto;
    }
  }

  &__bottom{
    flex:0 0 100%;
    margin:2.5rem 0 0 0;

    @media #{$screen-md-min}  {
      margin-top:5rem;
    }
  }

  &__reverse{
    background:white;
    padding:4rem 2rem;

    @media #{$screen-sm-min} {
      padding:4rem;
    }

    &__left{
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;

      div {
        flex:0 0 100%;

        @media #{$screen-sm-min} {
          flex:0 0 auto;
        }

        &:first-child{
          margin-bottom:2rem;

          @media #{$screen-sm-min} {
            margin-bottom:0;
          }
        }
      }
    }

    &__bottom{
      flex:0 0 100%;
      margin:2rem 0 0 0;

      @media #{$screen-sm-min} {
        margin-top:3rem;
      }
    }

    a{
      color:$brand-blue-dark;
    }

    .text-link{
      font-size:1.5rem;
      line-height:1.5em;
      text-decoration: none;
      font-family: $font-serif;

      @media #{$screen-sm-min} {
        font-size:2.25rem;
      }
    }

    .disclaimer{
      line-height:2em;
      font-size:0.8rem;
      font-family: $font-sans-serif;
      color:$brand-blue-dark;
      margin:0 0 3rem 0;
    }
  }

  .logo-rennie{
    width:125px;

    svg{
      width:100%;
      height:100%;
    }
    path{
      fill:$brand-blue-dark;
    }
  }

  .logo-marcon {
    width:170px;
    display: block;
    text-decoration: none;
    margin:0 0 4rem 0;

    svg{
      width:100%;
      height:auto;
      display: block;
      margin:0;

      path{
        fill:white;
      }
    }
  }

  .logo-building{
    width:100%;
    height:auto;
    display: block;
    max-width:200px;

    @media #{$screen-sm-min} {
      max-width:300px;
    }

    path{
      fill:white;
    }
  }

  .nav-util {
    display: flex;
    flex-wrap:wrap;
    font-family: $font-sans-serif;

    a,
    span{
      display: block;
      color:$brand-blue-dark;
      //opacity:0.4;
      margin:0 1rem 0 0;
      font-size:0.9rem;
    }

    .bullet{
      display: none;

      @media #{$screen-md-min} {
        display: block;
      }
    }
  }

  .link-list {
    list-style:none;
    display: none;
    flex-wrap:wrap;
    border-top:solid 1px white;
    margin:0;
    padding:1.5rem 0;
    font-family:$font-sans-serif;

    @media #{$screen-md-min} {
      display: flex;
    }

    &.social{
      padding-bottom:0;

      li{
        &:first-child{
          &:after{
            display: none;
          }
        }
      }
      a{
        display: inline-block;
        width:17px;
        height:17px;
        margin:0.5rem 1rem 0 0;

        svg{
          path{
            fill:white;
          }
        }
      }
    }

    li{
      display: block;
      margin:0 1rem 0 0;
      font-size:1rem;
      line-height:1.25em;
      color:white;

      @media #{$screen-sm-min} {
        font-size:1.1rem;
      }

      &:first-child{
        font-weight:300;

        &:after{
          content:'';
          display: inline-block;
          width:7px;
          height:7px;
          background:white;
          margin:0 0 0 1rem;
        }
      }
    }

    a{
      color:white;
      text-decoration: none;
      font-weight:300;
    }
  }

  .contact {
    display: flex;
    flex-wrap:wrap;
    margin:2rem 0 0 0;

    p{
      font-size:1rem;
      line-height:1.25em;
      flex:0 0 100%;
      font-weight:300;

      @media #{$screen-sm-min} {
        font-size:1.25rem;
      }

      @media #{$screen-md-min} {
        flex:0 0 auto;
        margin-right:5rem;
      }

      a{
        color:$color-body;
        text-decoration: none;
      }
    }
  }
}
