
.global__footer{
  padding:2.5rem 2rem;
  background:$brand-indigo-dark;
  color:white;
  position: relative;
  z-index:1; // to be above the homepage animation
  transition:background 1s ease;

  @media #{$screen-sm-min} {
    padding:5rem 2rem;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
  }

  &[data-slug="/"]{
    background:$brand-blue-dark;
  }

  a{
    display: block;
    text-decoration: none;
    margin:0 0 2rem 0;
    color:white;

    @media #{$screen-sm-min} {
      display: inline-block;
      margin-right:3vw;
    }
  }

  .text-link{
    font-weight:800;
    font-size:1.5rem;
    line-height:1em;
  }

  .logo-building-for-life{
    margin:0 0 0 auto;
  }
}
