
.global__footer{
  position: relative;
  z-index:2;
  transform: translate3d(0,0,0);

  &__top,
  &__bottom{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:4rem 2rem;

    @media #{$screen-sm-min} {
      padding:4rem
    }

    &__left,
    &__right{
      flex:0 0 100%;

      @media #{$screen-sm-min} {
        flex:0 0 auto;
      }
    }

    &__left{
      margin-bottom:2rem;

      @media #{$screen-sm-min} {
        margin-bottom:0;
      }
    }

    a{
      text-decoration: none;
      display: inline-block;
    }
  }

  &__top{
    background:$brand-blue-dark;

    a{
      color:white;
    }
  }

  &__bottom{
    background:white;

    &__bottom{
      flex:0 0 100%;
      margin:2rem 0 0 0;

      @media #{$screen-sm-min} {
        margin-top:3rem;
      }
    }

    a{
      color:$brand-blue-dark;
    }
  }

  .logo-marcon{
    margin:0 0 1.5rem 0;
  }

  .refresh-link{
    font-family:$font-sans-serif;
    font-weight:bold;
    letter-spacing: 2px;
  }

  .text-link{
    font-size:1.5rem;
    line-height:1.5em;

    @media #{$screen-sm-min} {
      font-size:2.25rem;
    }
  }

  .logo-rennie{
    width:125px;

    svg{
      width:100%;
      height:100%;
    }
    path{
      fill:$brand-blue-dark;
    }
  }

  .disclaimer{
    line-height:2em;
    font-size:0.8rem;
    font-family: $font-sans-serif;
    color:$color-grey-700;
    margin:0;

    @media #{$screen-sm-min} {
      text-align: center;
    }
  }
}
