
input,
button,
select,
textarea,
label{
  font-family:$font-sans-serif;
  color:$color-body;
  user-select: none;
  outline:0;
}

form{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;

  &[data-reversed="true"]{
    input{
      &[type="text"],
      &[type="email"],
      &[type="phone"]{
        border-color:white;
        color:white;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 $input-height $brand-blue-dark inset !important;
        -webkit-text-fill-color:white !important;
        caret-color: white;
      }
    }
    select{
      border-color:white;
      color:white;
    }
    .btn__register{
      background:white;
      color:$brand-blue-dark;
    }
  }

  .half{
    flex:0 0 100%;

    @media #{$screen-sm-min} {
      flex:0 0 48%;
    }
  }

  .btn__register{
    // Old Styles
    // height:70px;
    // display: inline-block;
    // background:$brand-blue-dark;
    // color:white;
    // padding:0 5rem;
    // font-family: $font-serif;
    // font-size:1.75rem;
    // line-height:1em;
    margin:2rem auto 2rem auto;
    padding:0 4rem;
    height:$button-height;
    line-height:calc(#{$button-height} - 2px);
    transition:background 1s ease;
    font-family:$font-serif;
    background:$brand-blue-dark;
    color:white;
    font-size:1.3rem;
    letter-spacing: 2px;
  }
}

input{
  &[type="text"],
  &[type="email"],
  &[type="phone"]{
    width:100%;
    height:$input-height;
    padding:1.5rem 0 0 0;
    background:transparent;
    border:solid $color-body;
    border-width:0 0 1px 0;
    color:$color-body;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color:$color-body !important;
    caret-color: $color-body;
  }
}

select{
  width:100%;
  height:$input-height;
  background:transparent;
  border:solid $color-body;
  border-width:0 0 1px 0;
  color:$color-body;
  font-size:1.2rem;
}

label{
  font-size:1rem;
  line-height:1em;

  @media #{$screen-lg-min} {
    font-size:1.2rem;
  }

  &.small-italic{
    font-size:0.8rem;
    font-style:italic;
  }
}

.input-group{
  position: relative;
  margin:0 0 2rem 0;
  flex:0 0 100%;

  input{
    &:focus,
    &:valid{
      & + label{
        top:0;
      }
    }
  }

  label{
    position: absolute;
    top:calc( 100% - 2rem );
    left:0;
    transition:all .25s ease;
  }
}

.select-group{
  flex:0 0 100%;
  margin:0 0 2rem 0;
}

.radio-group{
  display: flex;
  flex-wrap:wrap;
  flex:0 0 100%;
  margin:0 0 2rem 0;

  .title{
    flex:0 0 100%;
    line-height:1.5em;
    margin:0 0 1rem 0;

    @media #{$screen-sm-min} {
      margin:0;
      flex:0 0 50%;
    }
  }
  .inputs{
    @media #{$screen-sm-min} {
      margin:0 0 0 auto;
    }

    input{
      @media #{$screen-sm-min} {
        margin:0 0 0 2rem;
      }
    }
    label{
      margin:0 2rem 0 0.5rem;

      @media #{$screen-sm-min} {
        margin:0 0 0 0.5rem;
      }
    }
  }
}
