
*, *:before, *:after {
	box-sizing: inherit;
}

html,body{
	font-size:$font-size-base;
	line-height:$line-height-base;
	font-family:$font-serif;
	font-weight:$font-weight-base;
	color:$color-body;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {

}

body {

}

p,ul,ol,blockquote{
	margin:0 0 2rem 0;
}

p{

}

a{
	color:$color-body;
}

small{
	font-size:0.7rem;
	line-height:1.5em;
	display: block;
	font-weight:$font-weight-base;
}

button{
	border:none;
	padding:0;
	margin:0;
	display:inline-block;
	cursor:pointer;
	background:none;
	outline:none;
}

figure{
	margin:0;
	padding:0;
}

main{
	display: block;
}

blockquote{
	margin-left:auto;
	margin-right:auto;
	padding:0;
	font-size:2rem;
	line-height:1.5em;
	max-width:50%;
}

hr{
	display: block;
	border:solid $color-grey-300;
	border-width:1px 0 0 0;
	margin:3rem 0;
}

img{
	max-width:100%;
	display: block;
	margin:0;
}




// Global Styles
// -----------------------------------
.bg-image{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	transition:all .5s ease;
	transform: translate3d(0,0,0);
}

.wrap{
	&--narrow,
	&--reg,
	&--wide{
		width:90%;
		margin:0 auto;
		position: relative;
	}
	&--narrow{
		max-width:$max-width-narrow;
	}
	&--reg{
		max-width:$max-width-reg;
	}
	&--wide{
		max-width:$max-width-wide;
	}
}

.bg{
	&--dark-blue{
		background:$brand-blue-dark;
	}
}
