
.global__header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:$header-height;
  z-index:100;
  display: flex;
  align-items: center;
  justify-content:center;
  padding:0 1rem;

  @media #{$screen-sm-min} {
    padding:0 3rem;
  }

  &[data-theme="blue"] {
    .btn__logo{
      svg{
        path{
          fill:$brand-indigo;
        }
      }
    }
  }

  .left,
  .center,
  .right{
    flex:1;
  }

  .center{
    text-align: center;
  }

  .right{
    text-align: right;
  }

  .hamburger{
    width:30px;
    height:30px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;

    &[data-active="true"] {
      .lines{
        &:before{
          transform: translate3d(0,5px,0) rotate(-45deg);
        }
        &:after{
          transform: translate3d(0,-5px,0) rotate(45deg);
        }
      }
    }

    .lines{
      flex:0 0 100%;

      &:before,
      &:after{
        content:'';
        width:100%;
        background:white;
        height:2px;
        display:block;
        transform: translate3d(0,0,0) rotate(0);
        transition:all .5s ease;
      }

      &:before{
        margin:0 0 8px 0;
      }
    }
  }

  .btn__logo{
    display: block;
    width:auto;
    height:20px;
    line-height:1em;

    @media #{$screen-sm-min} {
      height:30px;
    }

    svg{
      width:auto;
      height:100%;

      path{
        fill:white;
        transition:all 1s ease;
      }
    }
  }

  .locale{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span{
      display: block;
      width:1px;
      background:white;
      height:1rem;
      margin:0 0.5rem;
      transform: translateY(-1px);
    }

    button{
      color:white;
      display: block;
      border-bottom:solid 1px transparent;
      padding:0 0 2px 0;

      &[data-active="true"] {
        border-bottom:solid 1px white;
      }
    }
  }
}
