
.global__header{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index:100;
  padding:4rem 2rem 0 2rem;
  display: flex;
  justify-content:center;




  // Homepage
  &[data-slug="/"] {
    a{
      color:white;
    }

    .btn__logo{
      svg{
        path{
          fill:white;
        }
      }
    }

    .btn__register{
      background:$brand-dusk;
    }
  }





  .left{
    flex:0 1 50%;
  }

  .center{
    flex:0 0 auto;
  }

  .right{
    flex:0 1 50%;
    text-align:right;
  }

  a{
    text-decoration: none;
    color:$brand-indigo-dark;
  }

  nav{
    ul,li{
      margin:0;
      padding:0;
      list-style:none;
    }
    a{
      display: inline-block;
      font-family:$font-sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size:0.8rem;
      line-height:2em;
      height:auto;
    }
  }

  .btn__logo{
    display: block;
    width:auto;
    height:30px;

    svg{
      width:100%;
      height:100%;

      path{
        fill:$brand-indigo-dark;
      }
    }
  }

  .btn__register{
    background:$brand-indigo-dark;
    color:white;
  }

}
