
.global__header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index:100;
  padding:1rem 5% 0 5%;
  display: flex;
  justify-content:center;

  @media #{$screen-sm-min} {
    padding:4rem 2rem 0 2rem;
  }

  &[data-visible="true"]{
    .left,
    .center,
    .right{
      opacity:1;
    }
  }


  // Homepage
  &[data-slug="/"] {
    a{
      color:white;
    }

    .btn__logo{
      svg{
        path{
          fill:white;
        }
      }
    }

    .btn__register{
      border-color:white;

      @media #{$screen-sm-min} {
        background:$brand-dusk;
      }
    }
  }





  .left{
    flex:0 1 50%;
    display: none;
    transition:opacity .5s ease .4s;
    opacity:0;

    @media #{$screen-sm-min} {
      display: block;
    }
  }

  .center{
    flex:0 0 auto;
    margin-right:auto;
    display: flex;
    align-items: center;
    transition:opacity .5s ease .2s;
    opacity:0;

    @media #{$screen-sm-min} {
      align-items: flex-start;
      margin:0;
    }
  }

  .right{
    flex:0 1 50%;
    display: flex;
    align-items: center;
    transition:opacity .5s ease .4s;
    opacity:0;

    @media #{$screen-sm-min} {
      align-items: flex-start;
    }
  }

  a{
    text-decoration: none;
    color:$brand-indigo-dark;
  }

  nav{
    ul,li{
      margin:0;
      padding:0;
      list-style:none;
    }
    a{
      display: inline-block;
      font-family:$font-sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size:0.8rem;
      line-height:2em;
      height:auto;
    }
  }

  .btn__logo{
    display: block;
    width:auto;
    height:15px;
    line-height:1em;

    @media #{$screen-sm-min} {
      height:30px;
    }

    svg{
      width:auto;
      height:100%;

      path{
        fill:$brand-indigo-dark;
        transition:fill 1s ease;
      }
    }
  }

  .btn__register{
    margin:0 0 0 auto;
    padding:0;
    height:auto;
    line-height:1.5rem;
    border-bottom:solid 1px $color-body;
    transition:background 1s ease;
    font-family:$font-serif;
    letter-spacing: 1px;

    @media #{$screen-sm-min} {
      border:none;
      height:$button-height;
  		line-height:calc(#{$button-height} - 2px);
      padding:0 4rem;
      background:$brand-indigo-dark;
      color:white;
    }
  }

}
