
.global__header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:$header-height;
  z-index:100;
  display: flex;
  align-items: center;
  justify-content:center;
  padding:0 2rem;

  &[data-theme="blue"] {
    .btn__logo{
      svg{
        path{
          fill:$brand-indigo;
        }
      }
    }
  }

  .left,
  .center,
  .right{
    flex:1;
  }

  .center{
    text-align: center;
  }

  .right{
    text-align: right;
  }

  .btn__logo{
    display: block;
    width:auto;
    height:30px;
    line-height:1em;

    svg{
      width:auto;
      height:100%;

      path{
        fill:white;
        transition:all 1s ease;
      }
    }
  }

  .locale{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span{
      display: block;
      width:1px;
      background:white;
      height:1.75rem;
      margin:0 0.5rem;
      transform: translateY(-1px);
    }

    button{
      color:white;
      display: block;
      border-bottom:solid 1px transparent;
      padding:0 0 2px 0;

      &[data-active="true"] {
        border-bottom:solid 1px white;
      }
    }
  }
}
