.global__nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--app-height);
	z-index: 90;
	background: rgba($brand-blue-dark, 0.8);
	backdrop-filter: blur(10px);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $header-height 0 0 0;

	nav {
		button,
		a {
			text-decoration: none;
			color: white;
			display: block;
			text-align: center;
			width: 100%;
			font-size: 4vh;
			line-height: 1.5em;
			font-family: $font-serif;
			opacity: 0.5;
			margin: 0 0 2vh 0;
			transition: opacity 0.5s ease;
			overflow: hidden;

			&:hover,
			&[data-active='true'] {
				opacity: 1;
			}

			span {
				display: block;
			}
		}
	}
}
