
h1, h2, h3, h4, h5, h6 {
	margin:0 0 0.75rem 0;
  line-height:1.5em;
}

h1 {
	font-size:2.75rem;
	letter-spacing: 2px;
	font-weight:normal;
	line-height:1.2em;

	@media #{$screen-sm-min} {
		font-size:3rem;
	}
}

h2 {
	font-size:2.75rem;
	line-height:1.4em;
	letter-spacing: 2px;
	font-weight:normal;

	@media #{$screen-lg-min} {
		font-size:3.5rem;
	}
}

h3 {
	font-size:1.4rem;
}

h4{
	font-size:1.2rem;
}

.text{
	&--display{
		font-size:1.25rem;
		line-height:1.5em;
		margin-bottom:1.25rem;

		@media #{$screen-sm-min} {
			font-size:1.5rem;
		}

		@media #{$screen-lg-min} {
			font-size:1.75rem;
		}
	}
}
