.accordion{
  &__item{
    border-bottom:solid 1px $brand-dusk;
    padding:1rem 0 1rem 0;

    &:last-child{
      padding-bottom:0;
      border:none;
    }

    &[data-open="true"] {
      .accordion__item__content{
        height:auto;
      }
    }

    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor:pointer;

      span{
        font-size:1.25rem;
        user-select: none;
      }

      svg{
        width:15px;
        height:auto;
        display: block;
        margin:0 1rem 0 0;

        path{
          stroke:$color-body;
        }
      }
    }
    &__content{
      display: block;
      font-family:$font-sans-serif;
      height:0;
      overflow:hidden;
      transition:height .5s ease;

      &__wrap{
        padding:1rem 0 0 0;

        p:last-child{
          margin:0;
        }

        .list-title{
          margin-bottom:1rem;
          line-height:1.5em;
        }

        ul{
          padding:0;
          list-style: none;

          &:last-child{
            margin:0;
          }

          li{
            border-bottom:solid 1px $color-grey-300;
            padding:1rem 2rem 1rem 0;
            font-size:0.9rem;
            line-height:1.5em;

            &:first-child{
              padding-top:0;
            }
            &:last-child{
              border:none;
              padding-bottom:0;
            }
          }
        }
      }
    }
  }
}
