.accordion{
  &__item{
    border-bottom:solid 1px $brand-dusk;
    padding:1.25rem 0;

    &[data-open="true"] {
      .accordion__item__content{
        height:auto;
      }
    }

    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor:pointer;

      span{
        font-size:1.5rem;
        user-select: none;
      }

      svg{
        width:15px;
        height:auto;
        display: block;
        margin:0 1rem 0 0;

        path{
          stroke:$color-body;
        }
      }
    }
    &__content{
      display: block;
      font-family:$font-sans-serif;
      font-size:1.25rem;
      height:0;
      overflow:hidden;
      transition:height 1s ease;

      &__wrap{
        padding:2rem 0 0 0;

        p:last-child{
          margin:0;
        }
      }
    }
  }
}
