
.overlay__index{
  position: fixed;
  top:-9999px;
  left:-9999px;
  width:100%;
  height:100vh;
  overflow:hidden;
  background:rgba(white,0);
  backdrop-filter:blur(0);
  display: flex;
  justify-content: flex-end;
  transition:
    background .5s ease,
    backdrop-filter .5s ease
  ;
  z-index:-9999;

  &[data-active="true"] {
    z-index:500;
    top:0;
    left:0;
  }

  &[data-show-content="true"] {
    backdrop-filter:blur(10px);
    background:rgba(white,0.1);

    article,
    figure,
    .btn__close{
      transform: translate3d(0,0,0);
    }
  }

  &[data-ready="true"] {
    article{
      z-index:2;
    }
  }

  .btn__close{
    width:50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:$brand-dusk;
    border-radius: 100%;
    align-self: center;
    margin:0 2rem 0 0;
    transform: translate3d(calc(-100% - 50px),0,0);
    transition:transform .5s ease;

    i{
      font-size:1rem;
      line-height:1em;
      color:white;
    }
  }

  article{
    transform: translate3d(200%,0,0);
    transition:transform .5s ease;
    flex:0 0 calc(100% - 8rem);
    overflow:auto;
    z-index:0;

    .wrap{
      background:white;
      width:50%;
      min-height:100%;
      padding:10rem 2rem 10rem 2rem;
    }

    .category{
      display: block;
      letter-spacing: 1px;
      margin:0 0 1.5rem 0;
      font-size:1rem;
      line-height:2em;
      font-family:$font-sans-serif;
      font-weight:100;

      span{
        text-transform: uppercase;
      }
    }

    .title{
      margin:0 0 5rem 0;
    }
  }

  figure{
    width:calc( 50% - 4rem );
    height:100%;
    position: fixed;
    top:0;
    right:0;
    z-index:1;
    transform: translate3d(100%,0,0);
    transition:transform .5s ease;

    .image{
      opacity:0;
      transition:opacity .5s ease;

      &[data-active="true"]{
        opacity:1;
      }
    }
  }

  .overlay-gallery{
    // position: fixed;
    // top:0;
    // left:0;
    // width:100%;
    // height:100vh;
    // z-index:100;
    // background:white;
    // display: none;
    // flex-wrap:wrap;
    // opacity:0;
    // transition:opacity 1s ease;
    // overflow-x:hidden;
    // overflow-y:scroll;
    // -webkit-overflow-scrolling:touch;

    // &[data-active="true"] {
    //   display: block;
    //
    //   @media #{$screen-sm-min} {
    //     display: flex;
    //   }
    // }
    // &[data-visible="true"] {
    //   opacity:1;
    // }

    // .btn__close{
    //   position: absolute;
    //   top:2rem;
    //   right:2rem;
    //   width:25px;
    //   height:25px;
    //   z-index:2;
    //
    //   &:before,
    //   &:after{
    //     content:'';
    //     display: block;
    //     position: absolute;
    //     left:0;
    //     height:80%;
    //     width:1px;
    //     background:$color-body;
    //   }
    //   &:before{
    //     top:0;
    //     transform: translate3d(12.5px,2.5px,0) rotate(45deg);
    //   }
    //   &:after{
    //     bottom:0;
    //     transform: translate3d(12.5px,-2.5px,0) rotate(-45deg);
    //   }
    // }

    aside{
      padding:2rem 4rem 2rem 2rem;
      display: flex;
      align-items: flex-start;
      flex-wrap:wrap;

      @media #{$screen-sm-min} {
        flex:0 0 30%;
        padding:5rem 0 5rem 3rem;
      }

      .bottom{
        @media #{$screen-sm-min} {
          align-self:flex-end;
        }
      }

      .caption{
        font-family:$font-sans-serif;
        text-transform:uppercase;
        letter-spacing: 2px;
        font-size:0.8rem;
        line-height:1.5em;
        display: block;
        margin:0 0 2rem 0;
      }

      .pagination{
        display: flex;
        align-items: center;

        button{
          width:25px;
          height:35px;
          display: block;
          position: relative;

          &.btn__next{
            transform: rotate(180deg);
          }

          &:before,
          &:after{
            content:'';
            display: block;
            position: absolute;
            left:0;
            height:50%;
            width:1px;
            background:$color-body;
          }
          &:before{
            top:0;
            transform: translate3d(12.5px,2.5px,0) rotate(45deg);
          }
          &:after{
            bottom:0;
            transform: translate3d(12.5px,-2.5px,0) rotate(-45deg);
          }
        }
        .count{
          margin:0 1rem;
        }
      }
    }

    figure{
      position: relative;
      margin:0 2rem 2rem 2rem;

      @media #{$screen-sm-min} {
        margin:0;
        flex:0 0 70%;
      }

      img{
        position: absolute;
        top:0;
        left:0;
        max-width:100%;
        max-height:100%;
        opacity:0;
        z-index:0;
        transition:opacity 1s ease;

        @media #{$screen-sm-min} {
          max-width:80%;
          max-height:80%;
          top:50%;
          left:50%;
          transform: translate3d(-50%,-50%,0);
        }

        &[data-active="true"]{
          opacity:1;
          z-index:1;
          position: relative;

          @media #{$screen-sm-min} {
            position: absolute;
          }
        }
      }
    }
  }
}
