
.overlay__index{
  position: fixed;
  top:-9999px;
  left:-9999px;
  width:100%;
  height:100vh;
  overflow:hidden;
  background:rgba(white,0);
  backdrop-filter:blur(0);
  display: flex;
  justify-content: flex-end;
  transition:
    background .5s ease,
    backdrop-filter .5s ease
  ;
  z-index:-9999;

  &[data-active="true"] {
    z-index:500;
    top:0;
    left:0;
  }

  &[data-show-content="true"] {
    backdrop-filter:blur(10px);
    background:rgba(white,0.1);

    article,
    figure,
    .btn__close{
      transform: translate3d(0,0,0);
    }
  }

  &[data-ready="true"] {
    article{
      z-index:2;
    }
  }

  .btn__close{
    width:50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:$color-grey-400;
    border-radius: 100%;
    align-self: center;
    margin:0 2rem 0 0;
    transform: translate3d(calc(-100% - 50px),0,0);
    transition:transform .5s ease;

    i{
      font-size:1rem;
      line-height:1em;
      color:black;
    }
  }

  article{
    transform: translate3d(200%,0,0);
    transition:transform .5s ease;
    flex:0 0 calc(100% - 8rem);
    overflow:auto;
    z-index:0;

    .wrap{
      background:white;
      width:50%;
      min-height:100%;
      padding:10rem 2rem 10rem 2rem;
    }

    .category{
      display: block;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin:0 0 1.5rem 0;
      font-size:0.9rem;
      line-height:2em;
    }

    .title{
      margin:0 0 5rem 0;
    }
  }

  figure{
    width:calc( 50% - 4rem );
    height:100%;
    position: fixed;
    top:0;
    right:0;
    z-index:1;
    transform: translate3d(100%,0,0);
    transition:transform .5s ease;

    .image{
      opacity:0;
      transition:opacity .5s ease;

      &[data-active="true"]{
        opacity:1;
      }
    }
  }
}
