
.panorama{
  height:250px;
  width:100vw;
  background:$color-grey-200;
  cursor:grab;
  margin:0 0 5rem 0;
  overflow:hidden;
  position: relative;

  @media #{$screen-md-min} {
    width:100%;
  }

  &:active{
    cursor:grabbing;
  }

  &__image{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:auto 100%;
  }
}
