
.global__register{
  padding:5rem 0 0 0;
  transform: translate3d(0,0,0);

  @media #{$screen-sm-min} {
    padding:10rem 0 0 0;
  }

  h2{
    text-align: center;
    margin:0 0 4rem 0;
  }

  .recaptcha-container{
    flex:0 0 100%;
  }

  .disclaimer{
    small{
      color:$brand-dusk;
      font-family: $font-sans-serif;
    }
  }

  .btn__register{
    width:100%;
  }
}
