
.global__register{
  padding:10rem 0 10rem 0;

  h2{
    text-align: center;
    margin:0 0 4rem 0;
  }

  .disclaimer{
    margin:0;

    small{
      color:$brand-dusk;
      font-family: $font-sans-serif;
    }
  }
}
