
.global__register{
  padding:5rem 0;

  @media #{$screen-sm-min} {
    padding:10rem 0;
  }

  h2{
    text-align: center;
    margin:0 0 4rem 0;
  }

  .disclaimer{
    margin:0;

    small{
      color:$brand-dusk;
      font-family: $font-sans-serif;
    }
  }
}
