@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/Gotham-Bold.woff2') format('woff2'),
        url('/fonts/gotham/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/Gotham-BookItalic.woff2') format('woff2'),
        url('/fonts/gotham/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/Gotham-BoldItalic.woff2') format('woff2'),
        url('/fonts/gotham/Gotham-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham/Gotham-Book.woff2') format('woff2'),
        url('/fonts/gotham/Gotham-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
